ul {
  margin-left: 30px;
  margin-top: 25px;
  line-height: 1.5;
  cursor: pointer;
}
ul li {
  color: rgb(46, 46, 53);
}
ul li:hover {
  color: rgb(169, 169, 202);
  text-decoration: underline;
}

.main {
  background-color: antiquewhite;
  width: 50%;
  padding: 14px;
}
